:root, #vue_app {
  --error-color: #ff4d4f;
  --error-bg-color: #fff2f0;
  --error-bd-color: #ffccc7;

  --warn-color: #faad14;
  --warn-bg-color: #fffbe6;
  --warn-bd-color: #ffe58f;

  --warning-color: #faad14;
  --warning-bg-color: #fffbe6;
  --warning-bd-color: #ffe58f;

  --primary-color: #1890ff;
  --primary-bg-color: #e6f7ff;
  --primary-bd-color: #91d5ff;

  --light-primary-color: #66a8ff;

  --info-color: #1890ff;
  --info-bg-color: #e6f7ff;
  --info-bd-color: #91d5ff;

  --succ-color: #52c41a;
  --succ-bg-color: #f6ffed;
  --succ-bd-color: #b7eb8f;

  --success-color: #52c41a;
  --success-bg-color: #f6ffed;
  --success-bd-color: #b7eb8f;

  --chart-color-0: #5470c6;
  --chart-color-1: #91cc75;
  --chart-color-2: #fac858;
  --chart-color-3: #ee6666;
  --chart-color-4: #73c0de;
  --chart-color-5: #3ba272;
  --chart-color-6: #fc8452;
  --chart-color-7: #9a60b4;
  --chart-color-8: #ea7ccc;

  --ant-primary-color-hover: #40a9ff;
  --ant-primary-color-active: #096dd9;
  --ant-primary-color-outline: rgba(24, 144, 255, .2);
  --ant-primary-1: #e6f7ff;
  --ant-primary-2: #bae7ff;
  --ant-primary-3: #91d5ff;
  --ant-primary-4: #69c0ff;
  --ant-primary-5: #40a9ff;
  --ant-primary-6: #1890ff;
  --ant-primary-7: #096dd9;
}

body {
  height: 100%;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f1f1f1;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track {
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c1c1c1;

  &:hover {
    background-color: #a8a8a8;
  }
}

#app {
  height: 100%;
}

.sortable-chosen {
  background: var(--info-bg-color);
}
.sortable-ghost {
  background: var(--succ-bd-color);
}
.sortable-drag {
  background: var(--primary-color);
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 2;
}

.gray-bg {
  background: rgba(0, 0, 0, .05);
}

.white-bg {
  background: #fff;
}

.primary-bg {
  background: var(--primary-color);
}

.transparent {
  background: transparent;
}

.primary {
  color: var(--primary-color);
}

.error-color {
  color: var(--error-color);
}

.danger {
  color: var(--error-color);
}

.hover-danger:hover {
  color: var(--error-color);
}

em.highlight {
  color: var(--error-color);
  font-style: normal;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.break-all {
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}

.nowrap {
  white-space: nowrap;
}

.no-border {
  border: 0 !important;
  box-shadow: none !important;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-0-0 {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: flex-center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-stretch {
  align-self: flex-stretch;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.height-unset {
  height: unset;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.c-pointer {
  cursor: pointer;
}

.col-1 {
  flex: 0 0 calc(100% / 24 * 1) !important;
  max-width: calc(100% / 24 * 1) !important;
}
.col-2 {
  flex: 0 0 calc(100% / 24 * 2) !important;
  max-width: calc(100% / 24 * 2) !important;
}
.col-3 {
  flex: 0 0 calc(100% / 24 * 3) !important;
  max-width: calc(100% / 24 * 3) !important;
}
.col-4 {
  flex: 0 0 calc(100% / 24 * 4) !important;
  max-width: calc(100% / 24 * 4) !important;
}
.col-5 {
  flex: 0 0 calc(100% / 24 * 5) !important;
  max-width: calc(100% / 24 * 5) !important;
}
.col-6 {
  flex: 0 0 calc(100% / 24 * 6) !important;
  max-width: calc(100% / 24 * 6) !important;
}
.col-7 {
  flex: 0 0 calc(100% / 24 * 7) !important;
  max-width: calc(100% / 24 * 7) !important;
}
.col-8 {
  flex: 0 0 calc(100% / 24 * 8) !important;
  max-width: calc(100% / 24 * 8) !important;
}
.col-9 {
  flex: 0 0 calc(100% / 24 * 9) !important;
  max-width: calc(100% / 24 * 9) !important;
}
.col-10 {
  flex: 0 0 calc(100% / 24 * 10) !important;
  max-width: calc(100% / 24 * 10) !important;
}
.col-11 {
  flex: 0 0 calc(100% / 24 * 11) !important;
  max-width: calc(100% / 24 * 11) !important;
}
.col-12 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}
.col-13 {
  flex: 0 0 calc(100% / 24 * 13) !important;
  max-width: calc(100% / 24 * 13) !important;
}
.col-14 {
  flex: 0 0 calc(100% / 24 * 14) !important;
  max-width: calc(100% / 24 * 14) !important;
}
.col-15 {
  flex: 0 0 calc(100% / 24 * 15) !important;
  max-width: calc(100% / 24 * 15) !important;
}
.col-16 {
  flex: 0 0 calc(100% / 24 * 16) !important;
  max-width: calc(100% / 24 * 16) !important;
}
.col-17 {
  flex: 0 0 calc(100% / 24 * 17) !important;
  max-width: calc(100% / 24 * 17) !important;
}
.col-18 {
  flex: 0 0 75% !important;
  max-width: 75% !important;
}
.col-19 {
  flex: 0 0 calc(100% / 24 * 19) !important;
  max-width: calc(100% / 24 * 19) !important;
}
.col-20 {
  flex: 0 0 calc(100% / 24 * 20) !important;
  max-width: calc(100% / 24 * 20) !important;
}
.col-21 {
  flex: 0 0 calc(100% / 24 * 21) !important;
  max-width: calc(100% / 24 * 21) !important;
}
.col-22 {
  flex: 0 0 calc(100% / 24 * 22) !important;
  max-width: calc(100% / 24 * 22) !important;
}
.col-23 {
  flex: 0 0 calc(100% / 24 * 23) !important;
  max-width: calc(100% / 24 * 23) !important;
}
.col-24 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-10-5 {
  margin: 10px 5px !important;
}

.m-10-20 {
  margin: 10px 20px !important;
}

.m-5-10 {
  margin: 5px 10px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-10-5 {
  padding: 10px 5px !important;
}

.p-10-20 {
  padding: 10px 20px !important;
}

.p-20-10 {
  padding: 20px 10px !important;
}

.p-5-10 {
  padding: 5px 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-17 {
  font-size: 17px !important;
}

.f-18 {
  font-size: 18px !important;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(-90deg);
}

.chart-color-0 {
  background: var(--chart-color-0) !important;
}

.chart-color-1 {
  background: var(--chart-color-1) !important;
}

.chart-color-2 {
  background: var(--chart-color-2) !important;
}

.chart-color-3 {
  background: var(--chart-color-3) !important;
}

.chart-color-4 {
  background: var(--chart-color-4) !important;
}

.chart-color-5 {
  background: var(--chart-color-5) !important;
}

.chart-color-6 {
  background: var(--chart-color-6) !important;
}

.chart-color-7 {
  background: var(--chart-color-7) !important;
}

.chart-color-8 {
  background: var(--chart-color-8) !important;
}



